@import "~bootstrap/scss/bootstrap.scss";

body{
    background-color: black;
    max-height: 1000px;
}

.bigCounter{
    text-align: center;
    background-color: black;
    display: block;
	margin-top: 21%;

}

.bigCounter div {
    display: inline-block;
    font-size: 150px;
    line-height: 150px;
    background-color: black;
    color: white;
    padding: 10px;
    // margin: auto;
    
}